<!DOCTYPE html>
<html>
  <head>
    <%= yield(:head_tags) %>
    <title>Map Graffiti</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag %>

    <%= include_gon %>
    <%= Gon::Base.render_data %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
      <div class = "row">
      <div class="col-md-4"></div>
        <div class="col-md-offset-4 col-md-4">
          <div class="text-center">
            <%= link_to image_tag("logo.png", :alt => "Logo", :class => "logo"), root_path %>
          </div>
        </div>
      </div>
      <h1 class="text-center title">Map Graffiti</h1>
      <h6 class="text-center">Hackathon Project for LA Hacks 2019</h6>
      <hr />
      <%= yield %>
    </div>
  </body>
</html>
